body{
	color: red;
	background-color: white;
}

.special{
	font-style: italic;
}

.special2{
	font-size: 20px;
}

h2.special{
	font-size: 20px;
	/*font-style: normal;*/
}

#container{
	margin: 10px;
	padding: 2em;
	border: 1px solid red;
}

#purchases{
	border: 1px solid red;
	background-color:  #333;
	color: white;
	padding: 2em;
}

#purchases li{
	font-weight: bold;
}
